Repository openshift/origin-aggregated-logging, pull requests merged in 2018-08, with the labels that each got.

#1269 fix 1609895. Modify run.sh to use /etc/kibana/kibana.yml
  kibana/prep-install.origin
  kibana/run.sh
Labels: component/kibana, kind/bug, lgtm, release/3.11, size/XS

#1270 fix 1548640. Cluster admins can use all cat endpoints
  elasticsearch/sgconfig/sg_action_groups.yml
Labels: component/elasticsearch, lgtm, release/3.11

#1230 document configmap
  docs/extract_configmap.md
Labels: area/documentation, lgtm, retest-not-required-docs-only, size/M

#1266 fixes #1251. Move init to scripts
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
  elasticsearch/init.sh
  elasticsearch/init/0010-seed-acl
  elasticsearch/init/0100-seed-index-templates
  elasticsearch/run.sh
  elasticsearch/utils/es_seed_acl
Labels: component/elasticsearch, lgtm, release/3.11, size/L

#1272 rsyslog - fix retry logic - use local vars in templates
  hack/testing/rsyslog/elasticsearch.conf.j2
Labels: kind/test-flake, lgtm, size/M

#1271 Read in /etc/podinfo/mem_limit if it exists and use that over INSTANCE_RAM env var
  elasticsearch/run.sh
Labels: lgtm, size/S

#1275 use standalone json parser instead of k8s meta filter
  .travis.yml
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
  fluentd/configs.d/filter-k8s-meta-for-mux-client.conf
  fluentd/configs.d/filter-parse-json-field.conf
  fluentd/configs.d/filter-pre-mux.conf
  fluentd/configs.d/openshift/filter-k8s-meta.conf
  fluentd/filter_k8s_meta_for_mux_client.rb
  fluentd/lib/filter_parse_json_field/Gemfile
  fluentd/lib/filter_parse_json_field/Rakefile
  fluentd/lib/filter_parse_json_field/filter_parse_json_field.gemspec
  fluentd/lib/filter_parse_json_field/lib/filter_parse_json_field.rb
  fluentd/lib/filter_parse_json_field/test/filter_parse_json_field_test.rb
  fluentd/lib/filter_parse_json_field/test/test_helper.rb
  fluentd/run.sh
Labels: component/fluentd, kind/cleanup, lgtm, release/3.11, size/L

#1277 support crio-o in dev test script
  hack/get-machine-run-tests.sh
Labels: kind/test-flake, lgtm, size/M

#1279 fix test script for non-crio case
  hack/get-machine-run-tests.sh
Labels: lgtm, size/S

#1282 Make allocate-shard node argument optional
  elasticsearch/utils/allocate-shard
Labels: lgtm, size/XS

#1263 Updating ES to generate jks if keys do not already exist
  elasticsearch/Dockerfile.centos7
  elasticsearch/run.sh
Labels: lgtm, release/3.11, size/L

#1284 Bug 1489533 - logging-fluentd needs to periodically reconnect to logging-mux or elasticsearch to help balance sessions
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
  fluentd/configs.d/openshift/output-es-config.conf
  fluentd/configs.d/openshift/output-es-ops-config.conf
  fluentd/configs.d/openshift/output-es-ops-retry.conf
  fluentd/configs.d/openshift/output-es-retry.conf
Labels: lgtm, size/M

#1287 [release-3.9] Bug 1489533 - logging-fluentd needs to periodically reconnect to logging-mux or elasticsearch to help balance sessions
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
  fluentd/configs.d/openshift/output-es-config.conf
  fluentd/configs.d/openshift/output-es-ops-config.conf
  fluentd/configs.d/openshift/output-es-ops-retry.conf
  fluentd/configs.d/openshift/output-es-retry.conf
Labels: lgtm, size/M

#1290 use rpm to find sniffer downstream
  fluentd/Dockerfile
Labels: size/XS

#1292 check for empty kubeletArgument
  fluentd/run.sh
Labels: component/fluentd, kind/bug, lgtm, release/3.11, size/XS

#1281 Fix the wrong link
  docs/metrics.md
Labels: area/documentation, kind/documentation, lgtm, release/3.11, size/XS

#1280 Fix typo
  README.md
Labels: area/documentation, kind/documentation, lgtm, release/3.11, size/XS

#1295 bump fluentd to 0.12.43 to support whats downstream
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
Labels: backport/3.10, backport/3.9, component/fluentd, lgtm, release/3.11

#1273 bump openshift-elasticsearch-plugin to 5.6.10.2 to fix permissions
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
  elasticsearch/sgconfig/sg_action_groups.yml
  test/access_control.sh
Labels: component/elasticsearch, kind/bug, lgtm, release/3.11, size/M

#1303 Use correct logo for OCP distribution
  kibana/Dockerfile
  kibana/prep-install.prod
Labels: component/kibana, lgtm, release/3.11, size/S

#1304 add Red Hat specific versions, repos
  elasticsearch/Dockerfile
Labels: component/elasticsearch, kind/cleanup, lgtm, release/3.11, retest-not-required, size/S

#1306 arg 2 is the filename - there is no stdin
  test/debug_level_logs.sh
Labels: backport/3.10, backport/3.9, kind/test-flake, lgtm, priority/failing-test, release/3.11, size/XS

#1310 disable non-PIC build; build only components used by fluentd
  fluentd/Dockerfile.centos7
Labels: lgtm, size/XS

#1305 Creating OWNERS file for repo
  OWNERS
Labels: lgtm, size/S

#1311 fix local devel to be faster by modifying image layer
  fluentd/Dockerfile.centos7
Labels: component/fluentd, lgtm, release/3.11, size/S

#1318 [release-3.9] fix local devel to be faster by modifying image layer
  fluentd/Dockerfile.centos7
Labels: lgtm, size/S

#1317 [release-3.10] fix local devel to be faster by modifying image layer
  fluentd/Dockerfile.centos7
Labels: lgtm, size/S

#1321 Updating GOPATH to REMOTE_GOPATH for hack provision script
  hack/get-machine-run-tests.sh
Labels: lgtm, size/S

#1322 modify curator WARN to WARNING
  curator/run.sh
Labels: component/curator, lgtm, release/3.11

#1316 Secure fluent metrics endpoint
  docs/metrics.md
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
  fluentd/configs.d/openshift/input-pre-prometheus-metrics.conf
  fluentd/patch/in_prometheus.rb
  hack/testing/check-zzz-fluentd-prometheus-scrape.sh
Labels: component/fluentd, lgtm, release/3.11, size/L

#1324 Cleaning up fluentd warnings for the USE_CRIO case
  fluentd/configs.d/openshift/filter-k8s-meta.conf
  fluentd/lib/generate_throttle_configs/lib/generate_throttle_configs.rb
  fluentd/lib/generate_throttle_configs/test/generate_throttle_configs_test.rb
  fluentd/run.sh
Labels: component/fluentd, kind/cleanup, lgtm, release/3.11, size/XS

#1130 [release-3.6] update to viaq 0.0.16
  docs/com.redhat.viaq-openshift-operations.asciidoc
  docs/com.redhat.viaq-openshift-project.asciidoc
  elasticsearch/index_patterns/com.redhat.viaq-openshift.index-pattern.json
  elasticsearch/index_templates/com.redhat.viaq-openshift-operations.template.json
  elasticsearch/index_templates/com.redhat.viaq-openshift-project.template.json
  elasticsearch/index_templates/org.ovirt.viaq-collectd.template.json
Labels: release/3.6, size/L

#1326 Improve readiness probe
  elasticsearch/init.sh
  elasticsearch/probe/readiness.sh
  elasticsearch/run.sh
  elasticsearch/utils/es_seed_acl
  elasticsearch/utils/logging
Labels: component/elasticsearch, kind/bug, lgtm, release/3.11, size/L

#1327 remove unused sources files
  curator/sources
  elasticsearch/sources
Labels: size/XS

#1323 Creating index template for Kibana to configure index replicas
  elasticsearch/index_templates/common.settings.kibana.template.json
Labels: lgtm, release/3.11, size/XS

#1330 [3.11] More readable format for logs from curator config generator
  curator/lib/oalconverter/util.py
Labels: lgtm, release/3.11, size/XS
