Repository openshift/origin-aggregated-logging, pull requests merged in 2019-01, with the labels that each got.

#1493 fix 1492. Document change of default to MERGE_JSON_LOG
  README.md
  docs/release_notes.md
Labels: lgtm, retest-not-required-docs-only, size/XS

#1495 Updated sdk_setup.sh
  hack/sdk_setup.sh
Labels: lgtm, ok-to-test, size/XS

#1494 Update kiabana.index_mode default in release notes
  docs/release_notes.md
Labels: lgtm, retest-not-required-docs-only

#1497 Define kibana index replication correctly
  elasticsearch/index_templates/common.settings.kibana.template.json
Labels: lgtm, release/3.11, size/XS

#1442 allow CI tests to run against new-style operator deployment
  hack/build-images.sh
  hack/get-machine-run-tests.sh
  hack/sdk_setup.sh
  hack/templates/dev-builds.yaml
  hack/testing/check-EFK-running.sh
  hack/testing/check-logs.go
  hack/testing/check-logs.sh
  hack/testing/entrypoint.sh
  hack/testing/rsyslog/roles/rsyslog/defaults/main.yaml
  hack/testing/templates/logging-ci-test-runner-template.yaml
  hack/testing/util.sh
  openshift/ci-operator/build-image/Dockerfile
  openshift/ci-operator/build-image/Dockerfile.full
  openshift/ci-operator/build-image/launch-e2e-test.sh
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
  test/Dockerfile.centos7
  test/access_control.sh
  test/cluster/functionality.sh
  test/cluster/rollout.sh
  test/docker_audit.sh
  test/eventrouter.sh
  test/fluentd-forward.sh
  test/json-parsing.sh
  test/mux-client-mode.sh
  test/mux.sh
  test/out_rawtcp.sh
  test/read-throttling.sh
  test/remote-syslog.sh
  test/viaq-data-model.sh
  test/zzz-rsyslog.sh
  test/zzzz-bulk_rejection.sh
Labels: kind/test-flake, lgtm, release/4.0, size/XXL
