Repository openshift/origin-aggregated-logging, pull requests merged in 2019-10, with the labels that each got.

#1763 fix build dependencies for fluentd
  fluentd/Dockerfile.centos7
Labels: approved, autoretest, component/fluentd, kind/failing-test, lgtm, release/3.11, size/S

#1765 CI support for 4.3
  hack/build-images.sh
  hack/deploy-logging.sh
  hack/logging-dump.sh
  hack/templates/dev-builds.yaml
  hack/test-logging.sh
  hack/testing/entrypoint.sh
  hack/testing/rsyslog/README.md
  hack/testing/rsyslog/default_vars.yaml
  hack/testing/rsyslog/example_vars.yaml
  hack/testing/rsyslog/playbook.yaml
  hack/testing/rsyslog/roles/openshift_logging_rsyslog/defaults/main.yaml
  hack/testing/rsyslog/roles/openshift_logging_rsyslog/tasks/main.yaml
  hack/testing/rsyslog/roles/openshift_logging_rsyslog/tasks/setup_certs.yaml
  hack/testing/rsyslog/roles/openshift_logging_rsyslog/templates/rsyslog-container.service.j2
  hack/testing/rsyslog/roles/rsyslog/defaults/main.yaml
  hack/testing/rsyslog/roles/rsyslog/handlers/main.yaml
  hack/testing/rsyslog/roles/rsyslog/tasks/main.yaml
  hack/testing/rsyslog/roles/rsyslog/templates/etc/rsyslog.conf.j2
  hack/testing/rsyslog/roles/rsyslog/templates/etc/rsyslog.d/rules.conf.j2
  hack/testing/rsyslog/rsyslog2es.te
  hack/testing/rsyslog/rsyslog2k8s.te
  hack/testing/rsyslog/rsyslogaccessnssdb.te
  hack/testing/rsyslog/rsyslogvar.te
  hack/testing/rsyslog/valgrind-rsyslogd
  hack/testing/rsyslog/varlibdockercont.te
  hack/testing/rsyslog/vars.yaml
  hack/testing/util.sh
Labels: approved, autoretest, kind/failing-test, lgtm, release/4.3, size/XXL

#1769 use release-4.2 branch for CLO and EO by default
  hack/deploy-logging.sh
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, kind/failing-test, lgtm, release/4.2, size/XS

#1770 Bug 1756920: fluentd pods doesn't process kubernetes events
  fluentd/configs.d/openshift/filter-viaq-data-model.conf
  fluentd/vendored_gem_src/fluent-plugin-viaq_data_model/fluent-plugin-viaq_data_model.gemspec
  fluentd/vendored_gem_src/fluent-plugin-viaq_data_model/lib/fluent/plugin/filter_viaq_data_model.rb
  fluentd/vendored_gem_src/fluent-plugin-viaq_data_model/lib/fluent/plugin/filter_viaq_data_model_systemd.rb
  fluentd/vendored_gem_src/fluent-plugin-viaq_data_model/test/test_filter_viaq_data_model.rb
  test/eventrouter.sh
Labels: approved, component/fluentd, kind/bug, lgtm, release/4.3, size/L

#1762 Add filter for linux auditd logs and remove docker ones
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
  fluentd/configs.d/filter-pre-a-audit-exclude.conf
  fluentd/configs.d/input-pre-audit-log.conf
  fluentd/lib/parser_viaq_host_audit/Gemfile
  fluentd/lib/parser_viaq_host_audit/Rakefile
  fluentd/lib/parser_viaq_host_audit/lib/parser_viaq_host_audit.rb
  fluentd/lib/parser_viaq_host_audit/lib/viaq_host_audit.rb
  fluentd/lib/parser_viaq_host_audit/parser_viaq_host_audit.gemspec
  fluentd/lib/parser_viaq_host_audit/test/parser_viaq_host_audit_test.rb
  fluentd/parser_viaq_docker_audit.rb
  fluentd/viaq_docker_audit.rb
Labels: approved, component/fluentd, kind/feature, lgtm, release/4.3, size/L

#1767 Pin prometheus-client to 0.9.0
  fluentd/Dockerfile.centos7
Labels: approved, component/fluentd, kind/bug, lgtm, ok-to-test, release/3.11, size/XS

#1771 use docker login instead of podman login
  hack/build-images.sh
Labels: approved, kind/cleanup, lgtm, release/4.3, size/XS

#1761 Bug 1757180: ACL documents are _always_ reseeded
  elasticsearch/init/0010-seed-acl
Labels: approved, autoretest, bugzilla/valid-bug, component/elasticsearch, kind/bug, lgtm, release/3.11, size/S

#1773 fix bogus plus in sed regexp
  hack/vendor/olm-test-script/e2e-olm.sh
Labels: approved, kind/test-flake, lgtm, release/4.3, size/XS
