Repository openshift/origin-aggregated-logging, pull requests merged in 2019-05, with the labels that each got.

#1620 Avoid using broken version of PyYaml
  curator/Dockerfile.centos7
Labels: lgtm, size/XS

#1622 use oal_sudo instead of sudo - other CI improvements
  hack/testing/check-logs.sh
  hack/testing/entrypoint.sh
  hack/testing/util.sh
  test/cluster/functionality.sh
  test/cluster/rollout.sh
  test/docker_audit.sh
  test/fluentd-forward.sh
  test/mux.sh
  test/remote-syslog.sh
  test/zzz-duplicate-entries.sh
  test/zzz-rsyslog.sh
  test/zzzz-bulk_rejection.sh
Labels: lgtm, size/L

#1625 debug ci failures
  hack/testing/util.sh
Labels: autoretest, kind/test-flake, lgtm, release/4.1

#1626 Bug 1706478: Give Prometheus permissions to monitor indices
  elasticsearch/sgconfig/sg_action_groups.yml
  elasticsearch/sgconfig/sg_roles.yml
Labels: approved, backport/3.11, component/elasticsearch, lgtm, release/4.1, size/XS

#1630 Bug 1707176 - JOURNAL_READ_FROM_HEAD defaults to true
  fluentd/configs.d/openshift/input-pre-systemd.conf
Labels: autoretest, backport/3.10, backport/3.11, backport/3.9, backport/master-post-release, component/fluentd, kind/bug, lgtm, release/4.1, size/XS

#1633 [release-3.11] Bug 1707524 - JOURNAL_READ_FROM_HEAD defaults to true
  fluentd/configs.d/openshift/input-pre-systemd.conf
Labels: autoretest, component/fluentd, kind/bug, lgtm, release/3.11, size/XS

#1629 Bug 1707538 - Fix typo of random_string that prevents forwarding to S…
  fluentd/out_syslog.rb
  fluentd/out_syslog_buffered.rb
Labels: autoretest, backport/3.10, backport/3.11, backport/3.9, backport/master-post-release, component/fluentd, kind/bug, lgtm, release/4.1, size/M

#1628 no oc logs output for logging test pod
  hack/deploy-openshift-cluster.sh
  hack/test-logging.sh
  hack/testing/entrypoint.sh
  hack/testing/templates/logging-ci-test-runner-template.yaml
  hack/testing/util.sh
  hack/undeploy-logging-marketplace.sh
  test/cluster/rollout.sh
  test/fluentd-forward.sh
Labels: autoretest, backport/master-post-release, kind/test-flake, lgtm, release/4.1, size/M

#1621 use openshift-operators-redhat for elasticsearch-operator
  hack/deploy-logging-marketplace.sh
  hack/test-logging.sh
  hack/testing/entrypoint.sh
  hack/testing/util.sh
  hack/undeploy-logging-marketplace.sh
  openshift/ci-operator/build-image/elasticsearch-catalogsourceconfig.yaml
  openshift/ci-operator/build-image/elasticsearch-subscription.yaml
  openshift/ci-operator/build-image/openshift-operators-redhat-namespace.yaml
  openshift/ci-operator/build-image/openshift-operators-redhat-operatorgroup.yaml
Labels: autoretest, kind/feature, lgtm, release/4.1, size/L

#1644 Post release into master
  fluentd/configs.d/filter-post-mux.conf
  fluentd/configs.d/filter-post-z-mux-client.conf
  fluentd/configs.d/filter-post-z-retag-one.conf
  fluentd/configs.d/filter-post-z-retag-two.conf
  fluentd/configs.d/filter-pre-mux-client-retag-raw.conf
  fluentd/configs.d/filter-pre-mux-client.conf
  fluentd/configs.d/filter-pre-mux.conf
  fluentd/configs.d/input-post-forward-mux.conf
  fluentd/configs.d/input-post-output.conf
  fluentd/configs.d/openshift/filter-viaq-data-model.conf
  fluentd/configs.d/openshift/output-operations.conf
  fluentd/configs.d/user/filter-pre-mux-test-client.conf
  fluentd/run.sh
  rsyslog/Dockerfile
  rsyslog/Dockerfile.fedora
  rsyslog/README.md
  rsyslog/utils/logs
Labels: lgtm, size/L

#1646 build-images.sh: Support ocp-4.2-default.repo from ci-operator
  hack/build-images.sh
Labels: lgtm, size/S

#1652 add method to deploy using operator make deploy
  hack/deploy-logging.sh
  hack/get-cluster-run-tests.sh
  hack/test-logging.sh
  hack/undeploy-logging.sh
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
Labels: autoretest, kind/failing-test, lgtm, release/4.2, size/L

#1648 LOG-400: rsyslog logs util - shows logs only from rsyslogd
  rsyslog/utils/logs
Labels: lgtm, size/XS

#1651 rsyslog - skip empty field support
  rsyslog/vendored_src/libfastjson/libfastjson/arraylist.c
  rsyslog/vendored_src/libfastjson/libfastjson/arraylist.h
  rsyslog/vendored_src/libfastjson/libfastjson/json_object.c
  rsyslog/vendored_src/libfastjson/libfastjson/json_object.h
  rsyslog/vendored_src/liblognorm/liblognorm/src/parser.c
  rsyslog/vendored_src/liblognorm/liblognorm/src/parser.h
  rsyslog/vendored_src/liblognorm/liblognorm/src/pdag.c
  rsyslog/vendored_src/liblognorm/liblognorm/tests/Makefile.am
  rsyslog/vendored_src/liblognorm/liblognorm/tests/field_json_skipempty.sh
Labels: lgtm, size/L

#1654 Fixing bugs in "oc exec rsyslog_pod -- logs".
  rsyslog/utils/logs
Labels: lgtm, size/XS

#1649 LOG-400 - rsyslog - support log rotation for rsyslog log files
  test/zzz-rsyslog.sh
Labels: autoretest, component/rsyslog, kind/feature, lgtm, release/4.2, size/M
