Repository openshift/origin-aggregated-logging, pull requests merged in 2019-06, with the labels that each got.

#1656 rsyslog ci - fix rotation check flake
  test/zzz-rsyslog.sh
Labels: autoretest, component/rsyslog, kind/test-flake, lgtm, release/4.2, size/S

#1660 [release-3.11] Bug 1717397 - [RFE] Add feature in fluentd to send logs over UDP to a…
  fluentd/generate_syslog_config.rb
  test/remote-syslog.sh
Labels: autoretest, component/fluentd, kind/feature, lgtm, release/3.11, size/L

#1607 generate manifests for use in SRT tracking
  HACKING.md
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
  fluentd/install-gems.sh
  fluentd/manifest
  fluentd/source.jemalloc
  hack/update-fluentd-vendor-gems.sh
  hack/update-rsyslog-vendor-src.sh
  rsyslog/Dockerfile
  rsyslog/install-from-src.sh
Labels: autoretest, kind/feature, lgtm, release/4.1, size/L

#1665 update rsyslog to latest components
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/Gopkg.lock
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/build_info.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/build_info_pre_1.12.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/collector.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/doc.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/go_collector.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/histogram.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/http.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/process_collector.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/registry.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/client_golang/prometheus/summary.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/common/model/time.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/MAINTAINERS.md
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/Makefile
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/Makefile.common
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/README.md
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/buddyinfo.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/fixtures.ttar
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/fs.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/internal/fs/fs.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/ipvs.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/mdstat.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/mountstats.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/net_dev.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/net_unix.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/proc.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/proc_io.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/proc_limits.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/proc_ns.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/proc_psi.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/proc_stat.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/proc_status.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/stat.go
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/ttar
  rsyslog/go/src/github.com/soundcloud/rsyslog_exporter/vendor/github.com/prometheus/procfs/xfrm.go
  rsyslog/rh-manifest.txt
Labels: component/rsyslog, kind/cleanup, lgtm, release/4.2

#1658 allow get-clusters-run-tests.sh to deploy official 4.x
  hack/deploy-logging.sh
  hack/deploy-openshift-cluster.sh
  hack/get-cluster-run-tests.sh
  hack/testing/util.sh
Labels: autoretest, backport/4.1, lgtm, release/4.2, size/L

#1663 readiness.sh is bloating the dentry cache
  elasticsearch/probe/readiness.sh
Labels: area/performance, backport/4.1, component/elasticsearch, kind/cleanup, lgtm, ok-to-test, release/3.11, size/XS

#1667 readiness.sh is bloating the dentry cache
  elasticsearch/probe/readiness.sh
Labels: autoretest, backport/4.1, component/elasticsearch, kind/bug, lgtm, release/4.2, size/XS

#1669 updating owners file
  OWNERS
Labels: lgtm, size/XS

#1659 Bug 1718705 - [RFE] Add feature in fluentd to send logs over UDP to a…
  fluentd/generate_syslog_config.rb
  test/remote-syslog.sh
Labels: autoretest, backport/3.11, backport/4.1, component/fluentd, kind/bug, lgtm, release/4.2, size/L

#1670 Bug 1721290: Update the method used to create manifest for source first build
  HACKING.md
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
  fluentd/install-gems.sh
  fluentd/manifest
  fluentd/source.jemalloc
  hack/update-fluentd-vendor-gems.sh
  hack/update-rsyslog-vendor-src.sh
  rsyslog/install-from-src.sh
Labels: bugzilla/valid-bug, cherry-pick-approved, kind/feature, lgtm, release/4.1, size/L

#1674 Bug 1710868: Allow access to reading root es endpoint
  elasticsearch/sgconfig/sg_action_groups.yml
  hack/testing/test-0540-bz1710868-fix-access-to-root-endpoint
  test/0540-bz1710868-fix-access-to-root-endpoint
Labels: bugzilla/valid-bug, cherry-pick-approved, component/elasticsearch, kind/bug, lgtm, release/3.11, size/M

#1673 Bug 1722898: Logging data from all projects are stored to .orphaned indexes with Elasticsearch
  fluentd/configs.d/openshift/filter-k8s-meta.conf
  fluentd/run.sh
Labels: autoretest, backport/3.10, backport/3.11, backport/3.7, backport/3.9, backport/4.1, bugzilla/valid-bug, component/fluentd, kind/bug, lgtm, release/4.2, size/M

#1677 Bug 1722898: Logging data from all projects are stored to .orphaned indexes with Elasticsearch
  fluentd/configs.d/filter-post-mux.conf
  fluentd/configs.d/filter-post-z-mux-client.conf
  fluentd/configs.d/filter-post-z-retag-one.conf
  fluentd/configs.d/filter-post-z-retag-two.conf
  fluentd/configs.d/filter-pre-mux-client-retag-raw.conf
  fluentd/configs.d/filter-pre-mux-client.conf
  fluentd/configs.d/filter-pre-mux.conf
  fluentd/configs.d/input-post-forward-mux.conf
  fluentd/configs.d/input-post-output.conf
  fluentd/configs.d/openshift/filter-viaq-data-model.conf
  fluentd/configs.d/openshift/output-operations.conf
  fluentd/configs.d/user/filter-pre-mux-test-client.conf
  fluentd/run.sh
Labels: autoretest, bugzilla/valid-bug, cherry-pick-approved, component/fluentd, kind/cleanup, lgtm, release/4.1, size/L

#1680 Bug 1722380: Logging data from all projects are stored to .orphaned indexes with Elasticsearch
  fluentd/configs.d/openshift/filter-k8s-meta.conf
  fluentd/run.sh
Labels: autoretest, bugzilla/valid-bug, cherry-pick-approved, component/fluentd, kind/bug, lgtm, release/3.11, size/M

#1675 Bug 1722959: Allow reading root endpoint
  elasticsearch/sgconfig/sg_action_groups.yml
  hack/testing/test-0540-bz1710868-fix-access-to-root-endpoint
  test/0540-bz1710868-fix-access-to-root-endpoint
Labels: autoretest, backport/3.11, backport/4.1, bugzilla/valid-bug, component/elasticsearch, lgtm, release/4.2, size/M

#1681 support CRI-O journald log driver
  fluentd/configs.d/openshift/filter-k8s-meta.conf
Labels: autoretest, component/fluentd, kind/feature, lgtm, release/4.2, size/XS
