Repository openshift/origin-aggregated-logging, pull requests merged in 2019-03, with the labels that each got.

#1508 add troubleshooting to cycle fluentd periodically
  docs/troubleshooting.md
Labels: area/documentation, autoretest, backport/3.10, backport/3.11, kind/documentation, lgtm, retest-not-required-docs-only, size/L

#1533 bug 1679864. Allow cluster admins to retrieve indice list
  elasticsearch/sgconfig/sg_action_groups.yml
Labels: lgtm, size/XS

#1530 add file to pass in extra vars to jenkins ci ansible
  ci-ansible-common.yaml
  ci-ansible-journald.yaml
  ci-ansible-json-file.yaml
Labels: kind/test-flake, lgtm, release/3.9, size/S

#1529 Bug 1684048 - Newly introduced log-rotation in fluentd not working
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
Labels: backport/3.10, component/fluentd, kind/bug, lgtm, priority/critical-urgent, release/3.9, size/S

#1517 Add cluster manage role to curator
  elasticsearch/sgconfig/sg_roles.yml
Labels: autoretest, lgtm, ok-to-test, size/XS

#1536 add files to pass in extra vars to jenkins ci ansible
  ci-ansible-common.yaml
  ci-ansible-journald.yaml
  ci-ansible-json-file.yaml
Labels: autoretest, kind/test-flake, lgtm, release/3.10, size/S

#1538 use marketplace to deploy logging
  openshift/ci-operator/build-image/cluster-logging-catalogsourceconfig.yaml
  openshift/ci-operator/build-image/cluster-logging-subscription.yaml
  openshift/ci-operator/build-image/cr.yaml
  openshift/ci-operator/build-image/elasticsearch-catalogsourceconfig.yaml
  openshift/ci-operator/build-image/elasticsearch-subscription.yaml
  openshift/ci-operator/build-image/openshift-logging-namespace.yaml
  openshift/ci-operator/build-image/openshift-logging-operatorgroup.yaml
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
Labels: autoretest, kind/test-flake, lgtm, release/4.0, size/L

#1534 LOG-281. Document custom certs for kibana route
  docs/kibana-custom-certs.md
Labels: lgtm, retest-not-required-docs-only, size/M

#1541 [3.9] workaround broken 3.9 ci until fixed in ci
  ci-ansible-common.yaml
  hack/testing/entrypoint.sh
  hack/testing/util.sh
  test/json-parsing.sh
Labels: kind/test-flake, lgtm, release/3.9, size/S

#1542 make timeouts longer to fix some flakes
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
Labels: autoretest, kind/test-flake, lgtm, release/4.0, size/S

#1544 Bug 1684210 - Newly introduced log-rotation in fluentd not working
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
Labels: autoretest, component/fluentd, kind/bug, lgtm, release/3.10, size/S

#1545 Bug 1686941 - Newly introduced log-rotation in fluentd not working
  fluentd/Dockerfile
  fluentd/Dockerfile.centos7
Labels: autoretest, component/fluentd, kind/bug, lgtm, release/3.11

#1546 set default DHE ephemeral key size to 2048
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
  elasticsearch/run.sh
Labels: autoretest, backport/3.10, backport/3.11, backport/3.9, component/elasticsearch, kind/bug, lgtm, release/4.0

#1523 add support for new fluentd viaq filter undefined fields
  fluentd/README.md
  fluentd/configs.d/openshift/filter-viaq-data-model.conf
  fluentd/sources
  test/json-parsing.sh
Labels: area/cda, autoretest, backport/3.10, backport/3.11, backport/3.9, component/fluentd, kind/bug, lgtm, release/4.0, size/S

#1551 update owner list
  OWNERS
Labels: lgtm, size/XS

#1552 Bug 1686140 - Diffie-Hellman keysize < 2048 in logging-es
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
  elasticsearch/run.sh
Labels: component/elasticsearch, kind/bug, lgtm, release/3.10, size/XS

#1550 Revert "LOG-281. Document custom certs for kibana route"
  docs/kibana-custom-certs.md
Labels: lgtm, size/M

#1553 Bug 1679841 - Diffie-Hellman keysize < 2048 in logging-es
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
  elasticsearch/run.sh
Labels: autoretest, component/elasticsearch, kind/bug, lgtm, release/3.9, size/XS

#1555 guard against MERGE_JSON_LOG test flakes
  fluentd/configs.d/openshift/filter-viaq-data-model.conf
  test/json-parsing.sh
Labels: autoretest, kind/test-flake, lgtm, release/4.0, size/S

#1554 Bug 1685243 - Allow MERGE_JSON_LOG=true for indexing of JSON payload fields
  fluentd/README.md
  fluentd/configs.d/openshift/filter-viaq-data-model.conf
  test/json-parsing.sh
Labels: autoretest, component/fluentd, kind/bug, lgtm, release/3.11, size/M

#1557 add support for new fluentd viaq filter undefined fields
  fluentd/README.md
  fluentd/configs.d/openshift/filter-viaq-data-model.conf
  hack/testing/util.sh
  test/json-parsing.sh
Labels: autoretest, component/fluentd, kind/bug, lgtm, release/3.9, size/M

#1539 bug 1679159. Allow setting of pingTimeout
  kibana/Dockerfile
  kibana/Dockerfile.centos7
  kibana/install.sh
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/0_90.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/1_7.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/2_4.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/5_0.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/5_1.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/5_2.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/5_3.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/5_4.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/5_x.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/apis/master.js
  kibana/patches/kibana5.6.13/elasticsearch-js-679/src/lib/transport.js
Labels: autoretest, backport/3.11, component/kibana, kind/bug, lgtm, release/4.0, size/XXL

#1559 bug 1679613 by defaulting a value if null
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
Labels: backport/3.11, lgtm, size/XS

#1561 Add client certificates to SearchGuard for jaeger
  elasticsearch/init/0001-jaeger
  elasticsearch/sgconfig/sg_roles_mapping.yml
Labels: lgtm, needs-ok-to-test, size/XS

#1564 Do not change jaeger CN in SearchGuard config
  elasticsearch/init/0001-jaeger
Labels: lgtm, ok-to-test, size/XS

#1567 use default of 2 for flush_thread_count
  fluentd/configs.d/filter-pre-mux-client.conf
  fluentd/configs.d/openshift/output-es-config.conf
  fluentd/configs.d/openshift/output-es-ops-config.conf
  fluentd/configs.d/openshift/output-es-ops-retry.conf
  fluentd/configs.d/openshift/output-es-retry.conf
  fluentd/configs.d/user/secure-forward.conf
Labels: autoretest, component/fluentd, kind/cleanup, lgtm, release/4.1, size/S

#1563 add rsyslog image to repo
  hack/build-images.sh
  hack/testing/entrypoint.sh
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
  rsyslog/Dockerfile
  rsyslog/Dockerfile.fedora
  rsyslog/README.md
  rsyslog/install.sh
  rsyslog/rsyslog.sh
  rsyslog/uninstall.sh
  test/zzz-rsyslog.sh
Labels: autoretest, component/rsyslog, kind/feature, lgtm, release/4.1, size/L

#1515 add back tests that require user creation
  hack/testing/entrypoint.sh
  hack/testing/util.sh
  openshift/ci-operator/build-image/Dockerfile
  openshift/ci-operator/build-image/Dockerfile.full
  openshift/ci-operator/build-image/launch-e2e-test.sh
  test/access_control.sh
  test/cluster/functionality.sh
  test/kibana_dashboards.sh
  test/multi_tenancy.sh
Labels: autoretest, kind/test-flake, lgtm, release/4.1, size/L

#1566 Fix logging to console
  fluentd/README.md
  fluentd/run.sh
Labels: autoretest, component/fluentd, kind/bug, lgtm, release/4.1, size/M

#1573 testing - fix marketplace api group and version
  hack/testing/entrypoint.sh
  openshift/ci-operator/build-image/cluster-logging-catalogsourceconfig.yaml
  openshift/ci-operator/build-image/cr.yaml
  openshift/ci-operator/build-image/elasticsearch-catalogsourceconfig.yaml
  test/zzz-rsyslog.sh
Labels: autoretest, kind/test-flake, lgtm, release/4.1, size/S

#1575 make CI logging installation work with latest 4.1
  hack/build-images.sh
  openshift/ci-operator/build-image/cluster-logging-subscription.yaml
  openshift/ci-operator/build-image/cr.yaml
  openshift/ci-operator/build-image/elasticsearch-subscription.yaml
  openshift/ci-operator/build-image/openshift-logging-operatorgroup.yaml
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
Labels: kind/test-flake, lgtm, release/4.1, size/M

#1543 Set fluent es output plugin log level for es and es ops #1496
  fluentd/configs.d/openshift/output-es-config.conf
  fluentd/configs.d/openshift/output-es-ops-config.conf
  fluentd/configs.d/openshift/output-es-ops-retry.conf
  fluentd/configs.d/openshift/output-es-retry.conf
Labels: autoretest, component/fluentd, kind/enhancement, lgtm, ok-to-test, release/4.1, size/XS

#1576 [3.11] Fix logging to console
  fluentd/README.md
  fluentd/run.sh
Labels: autoretest, backport/3.10, backport/3.9, component/fluentd, kind/bug, lgtm, release/3.11, size/S

#1578 [3.10] Fluentd doesn't output it's logs to STDOUT when LOGGING_FILE_PATH=con…
  fluentd/README.md
  fluentd/run.sh
Labels: backport/3.9, component/fluentd, kind/bug, lgtm, release/3.10, size/S
