Repository openshift/origin-aggregated-logging, pull requests merged in 2019-08, with the labels that each got.

#1716 Bug 1733412: Can't view rsyslog pod logs by `oc exec -c rsyslog $rsy…
  rsyslog/utils/logs
Labels: approved, bugzilla/valid-bug, lgtm, size/S

#1717 Bug 1735530: rsyslog undefined field handling - fluentd parity
  rsyslog/undefined_field/undefined_field.go
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#1719 fix rsyslog test flakes
  test/zzz-rsyslog.sh
Labels: approved, autoretest, component/rsyslog, kind/test-flake, lgtm, release/4.2, size/S

#1699 Bug 1732364: Add jaeger permissions to create ES index templates
  elasticsearch/sgconfig/sg_roles.yml
Labels: approved, bugzilla/valid-bug, component/elasticsearch, lgtm, ok-to-test, release/4.2, size/XS

#1720 Bug 1730945: Rsyslog pod always restart when set `ES_REBIND_INTERVAL…
  rsyslog/vendored_src/rsyslog/rsyslog/plugins/omelasticsearch/omelasticsearch.c
Labels: approved, bugzilla/valid-bug, lgtm, size/XS

#1707 upgrade - add support for upgrading a deployment
  hack/deploy-logging.sh
Labels: approved, kind/cleanup, lgtm, release/4.2, size/L

#1721 Bug 1735530: rsyslog undefined field handling - fluentd parity
  rsyslog/undefined_field/undefined_field.go
  rsyslog/undefined_field/undefined_field_test.go
Labels: approved, autoretest, bugzilla/valid-bug, component/rsyslog, kind/bug, lgtm, release/4.2, size/L

#1722 rsyslog - remove SKIP_EMPTY
  rsyslog/README.md
Labels: approved, area/documentation, component/rsyslog, kind/documentation, lgtm, release/4.2, retest-not-required-docs-only, size/XS

#1711 Bug 1734083: Add jaeger index templates
  elasticsearch/index_templates/jaeger-service.json
  elasticsearch/index_templates/jaeger-span.json
Labels: approved, bugzilla/valid-bug, cherry-pick-approved, lgtm, ok-to-test, release/4.1, size/L

#1723 Bug 1740263: enable the parsing of docker log-driver=json-file continuation lines using fluent concat plugin
  fluentd/configs.d/filter-pre-systemd-multiline.conf
  fluentd/lib/filter_concat/filter_concat.gemspec
  fluentd/lib/filter_concat/lib/filter_concat.rb
  fluentd/lib/filter_concat/test/filter_concat_test.rb
  fluentd/lib/generate_throttle_configs/lib/generate_throttle_configs.rb
  fluentd/lib/generate_throttle_configs/test/generate_throttle_configs_test.rb
  fluentd/run.sh
  hack/testing/templates/test-template.yaml
  hack/testing/test-docker-multiline.sh
  test/docker_multiline.sh
Labels: approved, area/documentation, area/performance, autoretest, bugzilla/valid-bug, component/fluentd, kind/bug, lgtm, priority/critical-urgent, release/3.11, size/XXL

#1726 Bug 1741585: remote-syslog error when the record has level=unknown
  fluentd/out_syslog.rb
  fluentd/out_syslog_buffered.rb
Labels: approved, autoretest, backport/3.11, backport/4.1, bugzilla/valid-bug, component/fluentd, kind/bug, lgtm, release/4.2, size/S

#1725 read_from_head=false to speed up tests, cut down flakes
  hack/testing/entrypoint.sh
  hack/testing/util.sh
  test/debug_level_logs.sh
  test/docker_audit.sh
  test/docker_multiline.sh
  test/eventrouter.sh
  test/fluentd-forward.sh
  test/indexing_after_ns_removal.sh
  test/json-parsing.sh
  test/mux-client-mode.sh
  test/mux.sh
  test/out_rawtcp.sh
  test/read-throttling.sh
  test/remote-syslog.sh
  test/viaq-data-model.sh
  test/zzz-rsyslog.sh
  test/zzzz-bulk_rejection.sh
Labels: approved, autoretest, kind/test-flake, lgtm, release/3.11, size/XL

#1732 Bug 1741663: Fluentd single pod logging performance regression in 4.x
  fluentd/lib/generate_throttle_configs/lib/generate_throttle_configs.rb
  fluentd/lib/generate_throttle_configs/test/generate_throttle_configs_test.rb
Labels: approved, area/performance, autoretest, bugzilla/valid-bug, component/fluentd, kind/bug, lgtm, release/4.2, size/S

#1733 Bug 1741663: Fluentd single pod logging performance regression in 4.x
  fluentd/lib/generate_throttle_configs/lib/generate_throttle_configs.rb
  fluentd/lib/generate_throttle_configs/test/generate_throttle_configs_test.rb
Labels: approved, area/performance, autoretest, bugzilla/valid-bug, component/fluentd, kind/bug, lgtm, release/4.2, size/S

#1715 add collector log extraction back into logging-dump script for 4.x
  hack/logging-dump.sh
Labels: approved, lgtm, size/S

#1738 separately managed oauthclient object was removed
  docs/troubleshooting.md
  hack/testing/check-EFK-running.sh
  test/cluster/rollout.sh
Labels: approved, autoretest, kind/failing-test, kind/test-flake, lgtm, priority/critical-urgent, release/4.2, size/S

#1737 Bug 1741663: Fluentd single pod logging performance regression in 4.x
  fluentd/lib/generate_throttle_configs/lib/generate_throttle_configs.rb
  fluentd/lib/generate_throttle_configs/test/generate_throttle_configs_test.rb
Labels: approved, bugzilla/valid-bug, lgtm, size/S

#1739 minor change to trigger merge and rebuild
  README.md
Labels: approved, autoretest, kind/cleanup, lgtm, release/3.11, size/XS

#1734 use the olm-test-script to deploy using OLM
  README.md
  hack/deploy-logging.sh
  hack/test-logging.sh
  hack/vendor/olm-test-script/README.md
  hack/vendor/olm-test-script/catalogsource.yaml
  hack/vendor/olm-test-script/csv.yaml
  hack/vendor/olm-test-script/deploy/manifests/4.1/automationbroker.crd.yaml
  hack/vendor/olm-test-script/deploy/manifests/4.1/bundle.crd.yaml
  hack/vendor/olm-test-script/deploy/manifests/4.1/bundlebindings.crd.yaml
  hack/vendor/olm-test-script/deploy/manifests/4.1/bundleinstances.crd.yaml
  hack/vendor/olm-test-script/deploy/manifests/4.1/image-references
  hack/vendor/olm-test-script/deploy/manifests/4.1/openshiftansibleservicebroker.v4.1.0.clusterserviceversion.yaml
  hack/vendor/olm-test-script/deploy/manifests/openshift-ansible-service-broker-manifests/4.1/automationbroker.crd.yaml
  hack/vendor/olm-test-script/deploy/manifests/openshift-ansible-service-broker-manifests/4.1/bundle.crd.yaml
  hack/vendor/olm-test-script/deploy/manifests/openshift-ansible-service-broker-manifests/4.1/bundlebindings.crd.yaml
  hack/vendor/olm-test-script/deploy/manifests/openshift-ansible-service-broker-manifests/4.1/bundleinstances.crd.yaml
  hack/vendor/olm-test-script/deploy/manifests/openshift-ansible-service-broker-manifests/4.1/image-references
  hack/vendor/olm-test-script/deploy/manifests/openshift-ansible-service-broker-manifests/4.1/openshiftansibleservicebroker.v4.1.0.clusterserviceversion.yaml
  hack/vendor/olm-test-script/deploy/manifests/openshift-ansible-service-broker-manifests/package.yaml
  hack/vendor/olm-test-script/deploy/manifests/package.yaml
  hack/vendor/olm-test-script/e2e-olm.sh
  hack/vendor/olm-test-script/operatorgroup-allnamespaces-template.yaml
  hack/vendor/olm-test-script/operatorgroup-template.yaml
  hack/vendor/olm-test-script/operatorgroup.yaml
  hack/vendor/olm-test-script/subscription.yaml
Labels: approved, kind/cleanup, lgtm, release/4.2, size/XXL
