Repository openshift/origin-aggregated-logging, pull requests merged in 2019-04, with the labels that each got.

#1580 fix downstream build
  fluentd/manifest
  fluentd/vendored_gem_src/mime-types-data/History.md
  fluentd/vendored_gem_src/mime-types-data/Rakefile
  fluentd/vendored_gem_src/mime-types-data/data/mime-types.json
  fluentd/vendored_gem_src/mime-types-data/data/mime.content_type.column
  fluentd/vendored_gem_src/mime-types-data/data/mime.docs.column
  fluentd/vendored_gem_src/mime-types-data/data/mime.encoding.column
  fluentd/vendored_gem_src/mime-types-data/data/mime.flags.column
  fluentd/vendored_gem_src/mime-types-data/data/mime.friendly.column
  fluentd/vendored_gem_src/mime-types-data/data/mime.pext.column
  fluentd/vendored_gem_src/mime-types-data/data/mime.use_instead.column
  fluentd/vendored_gem_src/mime-types-data/data/mime.xrefs.column
  fluentd/vendored_gem_src/mime-types-data/lib/mime/types/data.rb
  fluentd/vendored_gem_src/mime-types-data/mime-types-data.gemspec
  fluentd/vendored_gem_src/mime-types-data/types/application.yaml
  fluentd/vendored_gem_src/mime-types-data/types/audio.yaml
  fluentd/vendored_gem_src/mime-types-data/types/image.yaml
  fluentd/vendored_gem_src/mime-types-data/types/text.yaml
  fluentd/vendored_gem_src/mime-types-data/types/video.yaml
  hack/update-fluentd-vendor-gems.sh
Labels: autoretest, component/fluentd, kind/test-flake, lgtm, release/4.1, size/XL

#1582 bug 1427274. Override OKD logo
  kibana/README.md
  kibana/run.sh
Labels: lgtm, size/M

#1586 better enable and disable of cluster-logging-operator
  hack/testing/entrypoint.sh
  hack/testing/util.sh
  rsyslog/Dockerfile
  test/access_control.sh
  test/zzz-rsyslog.sh
Labels: autoretest, kind/test-flake, lgtm, priority/failing-test, release/4.1, size/L

#1583 update downstream dockerfile to match upstream
  fluentd/Dockerfile
Labels: autoretest, component/fluentd, kind/cleanup, lgtm, release/4.1, size/M

#1565 Use different key-pair for fluentd metrics endpoint
  fluentd/configs.d/openshift/input-pre-prometheus-metrics.conf
Labels: component/fluentd, kind/bug, lgtm, release/4.1, size/XS

#1581 bug 1694884. Kibana default pattern
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
Labels: backport/3.11, lgtm, size/XS

#1584 Fix typo of random_string
  fluentd/out_syslog.rb
Labels: approved, autoretest, backport/3.10, backport/3.11, backport/3.9, component/fluentd, kind/bug, lgtm, ok-to-test, release/4.1, size/XS

#1577 make rsyslog build OS agnostic
  rsyslog/Dockerfile
  rsyslog/install-builder-packages.sh
  rsyslog/install-from-src.sh
Labels: autoretest, component/rsyslog, kind/cleanup, lgtm, release/4.1, size/M

#1592 get-cluster-run-tests.sh - new script to build/deploy/run
  hack/build-images.sh
  hack/deploy-openshift-cluster.sh
  hack/get-cluster-run-tests.sh
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
Labels: autoretest, kind/cleanup, lgtm, release/4.1, size/XL

#1594 add access control diagrams
  docs/access-control.md
  docs/images/access-control-documents.svg
  docs/images/access-control-seeding-workflow.svg
Labels: area/documentation, lgtm, retest-not-required-docs-only, size/S

#1595 debug recent test failures
  openshift/ci-operator/build-image/launch-e2e-test.sh
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
Labels: autoretest, kind/test-flake, lgtm, priority/failing-test, release/4.1, size/M

#1585 bug 1667801. Fix kibana index replicas
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
  elasticsearch/init/0530-bz1667801-fix-kibana-replica-shards
  hack/testing/entrypoint.sh
  hack/testing/test-0530-bz1667801-fix-kibana-replica-shards
  test/0530-bz1667801-fix-kibana-replica-shards
Labels: autoretest, backport/3.11, component/elasticsearch, kind/bug, lgtm, release/4.1, size/L

#1596 LOG-409. Remove MUX logic as prep for collection pipelines
  fluentd/configs.d/filter-post-mux.conf
  fluentd/configs.d/filter-post-z-mux-client.conf
  fluentd/configs.d/filter-post-z-retag-one.conf
  fluentd/configs.d/filter-post-z-retag-two.conf
  fluentd/configs.d/filter-pre-mux-client-retag-raw.conf
  fluentd/configs.d/filter-pre-mux-client.conf
  fluentd/configs.d/filter-pre-mux.conf
  fluentd/configs.d/input-post-forward-mux.conf
  fluentd/configs.d/input-post-output.conf
  fluentd/configs.d/openshift/filter-viaq-data-model.conf
  fluentd/configs.d/openshift/output-operations.conf
  fluentd/configs.d/user/filter-pre-mux-test-client.conf
  fluentd/run.sh
Labels: lgtm, release/4.2, size/L

#1597 bug 1694884. Rely on template to set Kibana index replicas
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
  elasticsearch/init/0530-bz1667801-fix-kibana-replica-shards
  hack/testing/test-0530-bz1667801-fix-kibana-replica-shards
  test/0530-bz1667801-fix-kibana-replica-shards
Labels: lgtm, size/L

#1598 LOG-400 - rsyslog - support log rotation for rsyslog log files
  rsyslog/Dockerfile
  rsyslog/Dockerfile.fedora
  rsyslog/README.md
  rsyslog/utils/logs
Labels: lgtm, size/M

#1606 update repo used with UBI
  hack/build-images.sh
Labels: autoretest, kind/cleanup, lgtm, release/4.1, size/S

#1609 merge latest master into master-post-release
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
  elasticsearch/init/0530-bz1667801-fix-kibana-replica-shards
  hack/build-images.sh
  hack/testing/entrypoint.sh
  hack/testing/test-0530-bz1667801-fix-kibana-replica-shards
  openshift/ci-operator/build-image/launch-e2e-test.sh
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
  test/0530-bz1667801-fix-kibana-replica-shards
Labels: autoretest, lgtm, release/4.2, size/L

#1611 Bug 1703118 - Per indice metrics missing in elasticsearch exporter
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.centos7
  elasticsearch/prep-install.origin
Labels: autoretest, backport/3.10, backport/3.11, backport/3.9, backport/master-post-release, component/elasticsearch, kind/bug, kind/feature, lgtm, size/S

#1604 Allow index templates to be reseeded with new replica and primary shard values
  elasticsearch/init/0100-seed-index-templates
  test/cluster/functionality.sh
Labels: autoretest, component/elasticsearch, kind/feature, lgtm, size/XS

#1616 dev - logging deploy, test, undeploy and improvements
  hack/deploy-logging-marketplace.sh
  hack/get-cluster-run-tests.sh
  hack/test-logging.sh
  hack/undeploy-logging-marketplace.sh
  openshift/ci-operator/build-image/setup-logging-for-e2e.sh
Labels: autoretest, kind/cleanup, lgtm, release/4.1, size/XL
