Repository openshift/origin-aggregated-logging, pull requests merged in 2021-11, with the labels that each got.

#2202 LOG-1935: Bump logging to 5.4
  Makefile
  hack/deploy-logging.sh
Labels: lgtm, approved

#2203 Use elasticsearch pnc build with netty 4.1.63.Final
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.in
  elasticsearch/fetch-artifacts-koji.yaml
Labels: approved, midstream/Dockerfile

#2204 Add missing es-prom-exporter plugin release 6.8.1.2
  elasticsearch/Dockerfile
  elasticsearch/Dockerfile.in
  elasticsearch/ci-env.sh
  elasticsearch/fetch-artifacts-koji.yaml
Labels: approved, midstream/Dockerfile

#2207 [release-4.6] Bug 1996671: call strip() only in case the object has that method
  fluentd/Dockerfile
  fluentd/lib/filter_parse_json_field/filter_parse_json_field.gemspec
  fluentd/lib/filter_parse_json_field/lib/filter_parse_json_field.rb
  fluentd/lib/filter_parse_json_field/test/filter_parse_json_field_test.rb
  hack/build-images.sh
  hack/deploy-logging.sh
  hack/vendor/olm-test-script/deploy/manifests/4.1/openshiftansibleservicebroker.v4.1.0.clusterserviceversion.yaml
Labels: lgtm, approved, bugzilla/valid-bug, cherry-pick-approved, bugzilla/severity-medium, backport-risk-assessed

#2205 add bulk permissions to sg_role_curator
  elasticsearch/sgconfig/roles.yml
Labels: lgtm, approved

#2208 LOG-1927: Remove devel packages from final image (e.g gcc)
  fluentd/Dockerfile
  fluentd/Dockerfile.in
  kibana/Dockerfile
  kibana/origin-meta.yaml
Labels: lgtm, approved, midstream/Dockerfile
